@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300&display=swap');

:root{
--vermelho: #AA5656;
--verde: #698269;
--preto: #1E1E1E;
--bege-claro: #F1DBBF;
--bege: #B99B6B;
--brancos: #F1F1F1;
}

.body{
    background-color: var(--brancos);
    font-family: Montserrat;
}

.imagens{
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--preto);
    transition: 1s;
}
.imagens:hover{
    box-shadow: 2px 2px 10px var(--bege);
}
    
/* ----- header -----*/

.header_organizacao{
background-color: var(--vermelho);
height: 10rem;
display: flex;
justify-content: space-between;
align-items: flex-end;
padding-left: 2rem;
padding-right: 2rem;
padding-bottom: 1rem;
border-bottom-right-radius: 30px ;
border-bottom-left-radius: 30px;
}
.logo_header{
width: 15rem;
transition: 400ms;

}
.logo_header:hover{
    width: 16rem;
}
.links_header_organizacao{
    background-color: var(--verde);
    width: 25rem;
    height: 2.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Krona One;
    border-radius: 20px;
    margin-bottom: 1rem;
}
.links_header{
    text-decoration: none;
    color: var(--brancos);
    transition: color 190ms;
}
.links_header:hover{
    color: var(--vermelho);
}
.links_header:active{
  color: var(--bege);
    
}
.icons_header{
    width:3.6rem ;
    transition: 200ms;
}
.icons_header:hover{
    width: 4rem ;
}

/* ----banner index ----- */

.banner_index{
    display: flex;
    justify-content: center;
    margin-top: 6rem ;
    margin-bottom:6rem ;
}
.banner_index_img{
    margin: 3rem;
    border-radius: 1rem;
    width: 90%;
    
    
}

/*---- produtos Index ----*/

.nossos_produtos{
    font-family: Krona One;
    font-size: 1.8rem;
    color: var(--preto);
    display: flex;
    justify-content: center;
}

.produtos_index{
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: var(--vermelho);
border-radius: 20px;
margin-left: 8rem ;
margin-right: 8rem ;
height: 400px ;
box-shadow: 2px 2px 8px var(--preto);
}

.produtos_index_organizacao{
display: flex;
flex-direction: column;
gap: 1rem;
font-family: Krona One ;
color: var(--brancos);
text-decoration: none;
align-items: center;
transition: color 190ms;
}
.produtos_index_organizacao:hover{
    color: var(--bege);

}
.produtos_index_organizacao:active{
    color: var(--verde);
}

/* ----- swiper -----*/

.mais_vendidos{
    margin-top: 6rem;
    font-family: Krona One;
    font-size: 1.8rem;
    color: var(--preto);
    display: flex;
    justify-content: center;
}
 
.titulo_mv{
font-family: Krona one;
font-size:larger;
color: var(--verde);
transition: 190ms;
}
.titulo_mv:hover{
color: var(--vermelho);
}
.titulo_mv:active{
color: var(--bege);
}

.valor_mv{
font-weight: 600;
color: var(--vermelho);
}
.swiper-wrapper{
    margin-top: 1rem;
    margin-bottom: 6rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
  
.mv_organizacao{
    padding: 2rem;
    background-color: var(--bege-claro);
    border-radius: 20px;
    box-shadow: 2px 2px 8px var(--bege);
    display: flex;
    column-gap: 3rem;
    margin: 1rem;
    min-width: 30.6rem;
}
.direitamv{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
}
.buymv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde);
    color: var(--brancos);
    width: 8rem;
    height: 2rem;
    box-shadow: 1px 1px 5px var(--preto);
    border-radius: 30px;
    transition: 200ms;
}
.link_buymv{
    text-decoration: none;
}
.buymv:hover{
    width:8.4rem ;
    height:2.2rem ;
    box-shadow: 2px 2px 8px var(--vermelho);
}

/*---- QUEM SOMOS ----*/

.qmSomos{
display: flex;
justify-content: center;
margin-top: 6rem;
margin-left: 2rem;
margin-right:2rem ;
padding-bottom: 1rem;
column-gap: 5rem;
}
.txt_qmSomos{
font-size: 1.5rem;
flex-direction: column;
max-height: 30rem;
max-width: 30rem;

}
.img_qmSomos{
    width:30rem;
    box-shadow: 2px 2px 8px var(--preto);
    border-radius: 5px;
    height:32rem
    
}

/* ------ Equipe ------ */

.equipe{
display: flex;
justify-content: space-evenly;
margin-top: 6rem;
margin-right: 15rem ;
margin-left: 15rem ;
margin-bottom: 8rem;
column-gap: 5rem;

}
.cartao_equipe{
    background-color: var(--vermelho);
    width: 40rem;
    height: 35rem;
    border-radius: 20px;
    box-shadow: 2px 2px 8px var(--preto);
    transition: 500ms;
}
.cartao_equipe:hover{
    box-shadow: 2px 2px 8px var(--bege);
}
.sup_eq{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    column-gap: 3rem;
    margin-left: 2rem ;
    margin-right: 1rem ;
    margin-bottom: 4rem;
}
.nome_eq{
font-family: Krona One;
font-size: 2.5rem;
color: var(--brancos);

}
.cargo_eq{
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--brancos);
    
}
.nc{
display: flex;
flex-direction: column;
row-gap: 1rem;
}
.foto_eq{
    width: 10rem;
    margin-right: 1rem;
    border-radius: 8px;
}
.decricao_eq{
font-size: 1.5rem;
color: var(--brancos);
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 1rem ;
    margin-right: 1rem ;
    margin-bottom: 2rem;
    padding: 1rem;

}


/* ------ footer ------ */

.footer{
    display: flex;
    height: 15rem;
  padding-left: 1rem ;
  padding-right: 1rem ;
  gap: 2rem;
  background-color: var(--bege-claro);
  font-family: montserrat;
  font-weight: 600;
  color: var(--bege);
  justify-content: space-around;
  
  
  }
  
  .footer_conteudo{
  background-color: var(--bege-claro);
 row-gap: 1rem;
 padding-top: 3rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  
  }
  .footer_conteudo_titulos{
    font-family: Krona One;
    color: var(--vermelho);
  }
  .footer_links{
      text-decoration: none;
      color: var(--bege);
  }
  .footer_links:hover{
  color: var(--vermelho);
  }
  .logo_footer{
    width: 15rem;
    background-color: var();
    padding-left: 12rem;
  }
  .rodape{
      background-color: var(--bege-claro);
      padding-top: 2rem;
      display: flex;
      height: 4rem;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 0.5rem;
      font-family: Krona One;
      font-weight: 600;
      color: var(--bege);
  }


  /* ------------------------------------------------------- PAGINA TODOS PRODUTOS -------------------------------------------------------------------*/

  
  .titulo_todosP{
    font-family: Krona One;
    font-size: 1.8rem;
    color: var(--preto);
    margin-top: 8rem;
    display: flex;
    justify-content: center;
  }

.grid_produtos{
display: flex;
flex-direction: column;
}

.grid_produtos_4{
display: flex;
justify-content: center;
margin-top: 2.5rem;
margin-bottom: 1rem;
margin-left: 10rem;
margin-right: 10rem;
}

.quadrado_produto{
  background-color: var(--bege-claro);
  margin: 3rem;
  padding: 3rem;
  border-radius: 20px;
  justify-content: center;
  max-width: 15rem;
  max-height: 20rem;
  
}

.text_prod{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    row-gap: 0.5rem;
    
}

  .nomeExProd{
    font-family: Krona One;
    color: var(--preto);
    font-size: large;
    
    transition: 190ms;
  }
  .nomeExProd:hover{
    color: var(--vermelho);
    }
    .nomeExProd:active{
        color: var(--bege);
    }
  .imgExProd{
  
    border-radius: 5px;
    box-shadow: 1px 1px 10px var(--preto);
    transition: 0.4s;
  }
.imgExProd:hover{
       
    box-shadow: 10px 1px 20px var(--bege);
    }
.links_sd{
    text-decoration: none;
}
  /*---pagina produto---*/

  .pgProdutoOrg{
display: flex;
margin-bottom: 10rem;
margin-top:  8rem;
margin-left: 6rem;
margin-right: 6rem;
column-gap: 15rem;
justify-content: center;
  }
  .imgPgProduto{
    max-width: 30rem;
    border-radius: 10px;
    
  }
  .organizacaoTxtProduto{
display: flex;
row-gap: 3rem;
flex-direction: column;
  }
  .nomeProduto{
font-family: Krona One;
font-size: xx-large;
color: var(--preto);
  }
  .precoProduto{
    font-weight: 600;
    font-size: larger;
    color: var(--vermelho);

  }
  .descricaoProduto{
display: flex;
flex-direction: column;
max-width: 20rem;
  }
  .botaoCompraPgProduto{
    background-color: var(--verde);
    color: var(--brancos);
    border-radius: 30px;
    font-size: x-large;
    display: flex;
    margin-top: 17rem;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 3rem;
    text-decoration: none;
    transition: 350ms;
  }
  .botaoCompraPgProduto:hover{
    font-weight: 600;
    color: var(--bege-claro);
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
  }


 /*---pagina OBG---*/

.orgOBG{
    display: flex;
    margin-top: 5rem ;
    margin-bottom: 5rem;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
}
.orgOBGtxt{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    margin-bottom: 1rem;
}
  .textoL{
font-size: x-large;
  }
  .imgOBG{
width: 15rem;
  }

  .botaoVoltar{
    background-color: var(--verde);
    color: var(--brancos);
    border-radius: 30px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 3rem;
    text-decoration: none;
    transition: 350ms;
  }
  .botaoVoltar:hover{
    color: var(--bege-claro);
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
  }
 /*---pagina formulário---*/
  .area_form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    margin-top: 5rem;
    color: var(--preto);

    font-family: Krona One;
    font-weight: bold;
    margin-bottom: 8rem ;
    
}
.formulario{
  display: flex;
  background-color: var(--bege-claro);
  flex-direction: column;
  padding: 3rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.nome_form{
display: flex;
flex-direction: column;
row-gap: 1rem;
align-items: center;
}
.campo_email{
    border: none;
    color: var(--brancos);
    width: 90%;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color:var(--bege);
    box-shadow: 2px 1px 10px var(--preto);
    transition: 300ms;


}
.campo_email:focus {
    background-color: var(--bege);

    transform: scale(1.05);
    box-shadow: 5px 10px 10px var(--verde),
               
  }

.campo_nome{
    border: none;
    color: var(--brancos);
    
    width: 90%;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color:var(--bege);
    box-shadow: 2px 1px 10px var(--preto);
    transition: 300ms;

   
}
.campo_nome:focus {
  background-color: var(--bege);
  transform: scale(1.05);
  box-shadow: 5px 10px 10px var(--verde),
  }
  
  .select{
    margin-left: 6rem;
    background-color: var(--verde);
    color: var(--brancos);
    border-radius: 5px;
  }

.msg{
    border: none;
    color: var(--brancos);
    outline: none;
    width: 90%;
    border-radius: 15px;
    padding: 1em;
    background-color:var(--bege);
    transition: 300ms;
    box-shadow: 2px 1px 10px var(--preto);

   
}
.msg:focus {
  background-color: var(--bege);
  transform: scale(1.05);
  box-shadow: 5px 10px 10px var(--verde),
  }
  
  
.org_but{
  display: flex;
  justify-content: center;
}

.button2 {
  row-gap: 1rem;
font-family: montserrat;
font-weight: 600;
    color: var(--brancos);
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    border-color: var(--verde);
    background:var(--verde);
    transition: 300ms;
              
  }
  
  .button2:active {
   
   background-color: var(--vermelho);
  }
  
   
  .button2:hover {
    color: var(--bege-claro);
  }
  
  .form_titulo{
    font-size: 1.5rem ;
    color: var(--vermelho);
  }